decorator==4.0.9
Django==1.9.2
django-allauth==0.24.1
django-choices==1.4.2
django-crispy-forms==1.6.0
facebook-sdk==0.4.0
ipython-genutils==0.1.0
networkx==1.11
oauthlib==1.0.3
path.py==8.1.2
pbr==1.8.1
pickleshare==0.6
Pillow==3.1.1
prettytable==0.7.2
pyparsing==2.0.7
python-dateutil==2.4.2
python-openid==2.2.5
requests==2.9.1
requests-oauthlib==0.6.1
reverse==0.1.0
simplegeneric==0.8.1
six==1.10.0
stevedore==1.11.0
traitlets==4.1.0
twitter==1.17.1
virtualenv==14.0.6
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
virtualenvwrapper-win==1.2.1
wheel==0.26.0
