{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
My pending projects
{% endblock title %}

{% block content %}
   <div class="row">
                        <div class="col-md-2"><h4>Sort by:</h4></div>
                        <div class="col-md-10">
			  	<a href="{% url 'mypendingprojects_deadline_down' %}" type="button" class="btn btn-deafult">Deadline <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
			  	<a href="{% url 'mypendingprojects_deadline_up' %}" type="button" class="btn btn-deafult">Deadline <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
			  	<a href="{% url 'mypendingprojects_az' %}" type="button" class="btn btn-deafult">A-Z <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></a>
			  	<a href="{% url 'mypendingprojects_za' %}" type="button" class="btn btn-deafult">Z-A <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span></a>




      					</div>
                 </div><br>
                
                
                
                   <table class="table"> 
                  
                    <thead> 
                    
                        <tr> 
                            
                            <th>Project Name</th> 
                            <th>Description</th>
                             <th>Deadline</th> 
                                <th>Owner</th>
                            </tr> 
                    </thead>
                         <tbody> 

            {% for project in projects %}
            <tr> 
                  <td ><span class="text-primary">{{project.name}}</span></td>
                               <td><p class="text-justify">{{project.description|truncatewords:20}}</p></td>
                               <td>{{project.deadline}}</td> 
                                <td>{{project.owner}}</td>
            </tr>
            {% endfor %}
        
                                            </tbody>
                                             </table>

{% endblock content %}