{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Please login
{% endblock title %}

{% block content %}
  	<div>
  		<form role="form" class="form-horizontal" method="post">
			{% csrf_token %}
			{{ form }}
			<input class="btn btn-primary" type="submit" value="Login"/>
			<a id="google_login" href="/accounts/google/login">Sign In With Google</a>
			<a id="twitter" href="/accounts/twitter/login">Sign In With Twitter</a>
			<a id="linkedin" href="/accounts/linkedin/login">Sign In With LinkedIn</a>
			<a id="facebook" href="/accounts/facebook/login">Sign In With Facebook</a>
 			<input type="hidden" name="next" value="{{ next }}" />
		</form>
  	</div>

{% endblock content %}