{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
All projects
{% endblock title %}

{% block content %}
   <div class="row">
                        <div class="col-md-2"><h4>Sort by:</h4></div>
                        <div class="col-md-5"><select class="form-control">
                        <option>Deadline</option>
                            </select>
                        </div>
                        <div class="col-md-5"><div class="input-group">
      <input type="text" class="form-control" placeholder="Search for project">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group --></div>
                 </div><br>
                
                
                
                   <table class="table"> 
                  
                    <thead> 
                    
                        <tr> 
                            
                            <th>Project Name</th> 
                            <th>Description</th>
                             <th>Deadline</th> 
                                <th>Owner</th>
                             
                            <th>Details</th> 
                            </tr> 
                    </thead>
                         <tbody> 
            {% if projects.count > 0 %}
                {% for project in projects %}
                <tr>
                      <td ><span class="text-primary">{{project.name}}</span></td>
                                   <td><p class="text-justify">{{project.description|truncatewords:20}}</p></td>
                                   <td>{{project.deadline}}</td>
                                    <td>{{project.owner}}</td>

                    <td>
                        <form action="details/" method="post">
                            {% csrf_token %}
                            <a href="{% url 'userapproval_home' pk=project.pk %}" type="button" class="btn btn-info">Details</a>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        
                                            </tbody>
                                             </table>

{% endblock content %}